<div class="page-loading" *ngIf="isFetching"></div>

<nz-layout>
  <!-- 页面头部 -->
  <nz-header>
    <app-layout-header class="main-header"></app-layout-header>
  </nz-header>
  <!-- 页面主体区域 -->
  <nz-layout class="content_box">
    <!-- 页面左侧 -->
    <nz-sider
      nzCollapsible
      [(nzCollapsed)]="layout.collapsed"
      [nzTrigger]="triggerTemplate"
      class="main-sidebar"
    >
      <app-layout-sidebar></app-layout-sidebar>
    </nz-sider>
    <!-- 页面中心内容区域 -->
    <nz-content class="main-body">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
