<div class="login-wrap">
  <div class="ms-login">
    <span class="login_title">后台管理系统</span>
    <form
      nz-form
      [formGroup]="validateForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-control nzHasFeedback nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="userName"
              placeholder="Username"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzHasFeedback nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Password"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
          </label>

          <button nz-button  (click)="resetForm($event)" class="login-form-forgot" [nzType]="'dashed'">
            Reset
          </button>
          <button nz-button class="login-form-button" [nzType]="'primary'">
            Log in
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
