<div class="title" [style.width]="">
  <img class="headerLogo" src="assets/images/logo.svg" alt="" />
  <span class="headerTitle">后台管理</span>
</div>

<div class="bar">
  <ul>
    <li (click)="toggleCollapsedSidebar()">
      <i nz-icon [type]="layout.collapsed ? 'menu-unfold' : 'menu-fold'"></i>
    </li>
  </ul>
  <ul style="flex: 1"></ul>
  <ul>
    <div nz-dropdown [nzDropdownMenu]="menu1" style="margin-right: 20px;">
      <span>
        <i nz-icon nzType="setting"></i>
        设置
      </span>
      <nz-dropdown-menu #menu1="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item><i nz-icon type="delete"></i> 清理本地缓存</li>
          <li nz-menu-item><i nz-icon type="fullscreen"></i> 全屏</li>
          <li nz-menu-item>谁</li>
        </ul>
      </nz-dropdown-menu>
    </div>

    <li nz-dropdown [nzDropdownMenu]="menu2">
      <span>
        <!-- <i class="iconFont" nz-icon nzType="home"></i> -->
        <img class="avator" src="assets/images/1.gif" alt="" srcset="">
        用户名
      </span>
      <nz-dropdown-menu #menu2="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>设置头像</li>
          <li nz-menu-item>修改用户名</li>
          <li nz-menu-item>填写个人信息</li>
          <li nz-menu-item (click)="logout()">退出登录</li>
        </ul>
      </nz-dropdown-menu>
    </li>
  </ul>
</div>
